body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:864px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:10px;
  width:847px;
  height:210px;
  font-size:36px;
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  word-wrap:break-word;
}
