body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1128px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:491px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:10px;
  width:1091px;
  height:491px;
  font-size:20px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:422px;
  height:10px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:607px;
  width:417px;
  height:5px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:413px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:422px;
  height:10px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:563px;
  width:417px;
  height:5px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:413px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:205px;
  height:10px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:607px;
  width:200px;
  height:5px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:157px;
  height:10px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:563px;
  width:152px;
  height:5px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:148px;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:557px;
  width:103px;
  height:16px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:601px;
  width:127px;
  height:16px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
